<link href="~/css/site.css" rel="stylesheet" />
<div>
    <h1>Singer Management</h1>
    <div class="row">
        <div class=" col-lg-12 mt-3">
            <a href="javascript:void(0);" class="btn btn-info"
               onclick="singer.openAddSinger()">Create</a>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="mytable">
        <thead>
            <tr>
                <th>SingerID</th>
                <th>SingerName</th>
                <th>SingerNickName</th>
                <th>View</th>
              
                <th>Avatar</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbSinger">
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="addSinger" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="addSingerForm">
            <div class="modal-content">
                <div class="modal-header"  style="background-color: #d8d8d8; border-bottom-color: #d8d8d8">
                    <h4 class="modal-title">Add New Singer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <input hidden id="SingerID" name="SingerID">

                <div class="modal-body"  style="background-color: #d8d8d8; border-bottom-color: #d8d8d8">
                    <div class="row container-fluid">
                        <div class="col-4">
                            <div class="row form-group">
                                <div class="col-12">
                                    <img src="~/images/nonavatar.jpg" id="Avatar" width="200" height="210" />
                                    <input type="file" id="FileUpload" class="custom-file" accept="image/*" onchange="singer.uploadAvatar(this)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Singer Name</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="SingerName" name="SingerName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>SingerNickName</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="SingerNickName" name="SingerNickName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Introduce</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="Introduce" name="Introduce" class="form-control" data-rule-required="true">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="background-color: #d8d8d8; border-top-color: #d8d8d8">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" onclick="return singer.add()" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Edit -->
<div id="editSinger" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="editSingerForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Singer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <input hidden id="editSingerID" name="SingerID">

                <div class="modal-body container">
                    <div class="row">
                        <div class="col-4">
                            <div class="row form-group">
                                <div class="col-12">
                                    <img src="~/images/nonavatar.jpg" id="editAvatar" width="200" height="210" />
                                    <input type="file" id="FileEdit" class="custom-file" accept="image/*" onchange="singer.editAvatar(this)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Singer Name</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="editSingerName" name="editSingerName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>SingerNickName</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="editSingerNickName" name="editSingerNickName" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Introduce</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="editIntroduce" name="editIntroduce" class="form-control" data-rule-required="true">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" onclick="singer.edit()" value="Edit">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal Delete-->

</div>
@section Scripts{
    <script src="~/js/singer.js" asp-append-version="true"></script>
}