.listen {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}


/** audio player styles **/
.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

div.audio-player {
    position: relative;
    width: 450px;
    height: 70px;
    margin: 0 auto;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #2c1450 0%, #2c1450 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.audio-player h2 {
    position: absolute;
    top: 7px;
    left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ececec;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.audio-player p {
    position: absolute;
    top: 13px;
    left: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 9px;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/* play/pause control */
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9999px;
}

.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
    width: 34px;
    height: 34px;
    top: 32px;
    left: 7px;
    background: transparent url('../images/playpause.png') 0 0 no-repeat;
}

.mejs-controls .mejs-pause button {
    background-position: 0 -35px;
}


/* mute/unmute control */
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
    width: 18px;
    height: 19px;
    top: 9px;
    right: 12px;
    background: transparent url('../images/audio.png') 0 0;
}

.mejs-controls .mejs-unmute button {
    background-position: 0 -19px;
}



/* time scrubber bar */


.mejs-controls .mejs-time-rail span {
    position: absolute;
    display: block;
    width: 380px;
    height: 12px;
    top: 40px;
    left: 55px;
    cursor: pointer;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    background: #565860;
    width: 380px !important; /* fixes display bug using jQuery 1.8+ */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    top: 0;
    left: 0;
    width: 0;
    background: #7b7d82;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    top: 0;
    left: 0;
    width: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #90d26a;
    background: -webkit-linear-gradient(top, white 0%, white 100%);
}

/* metallic sliders */
