@{
    ViewData["Title"] = "Privacy Policy";
}
@model Author
    <link rel="stylesheet" href="~/css/resize.css" />
    <link rel="stylesheet" href="~/css/musicard.css" />
    <style>
        #list > div:hover {
            background-color: #2a1b38;
        }
    </style>
    <input hidden asp-for="AuthorID" id="authorid" />
    <div class="row">

        <div class="col-4 text-center" id="author">


        </div>
        <div class="col-8">
            <div id="introduce"></div>
          
            <div id="list"></div>
        </div>

    </div>
    @section Scripts{
        <script src="~/js/authordetail.js" asp-append-version="true"></script>

    }
