@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/resize.css" />
<link rel="stylesheet" href="~/css/musicard.css" />
<h2 class="text-light">Trending</h2>
<hr style="border-color: #22142e" />
<div class="row my-2 ">
    <div class="col-7 ">
        <div class="card" style="background-color:#372552">
            <canvas id="weekly-clicks-chart" width="400" height="250"></canvas>
        </div>
    </div>
    <div class="col-5">
        <ul class="list-group" id="topsong" style="padding: 0">
        </ul>

    </div>
</div>
<br />
<h2 class="text-light">Bài Hát Mới Nhất</h2>
<hr style="border-color: #22142e" />
<div class="row" id="newsong">


</div>
<br />
<br />
<h2 class="text-light">Ca Sĩ Nổi Bật </h2>
<hr style="border-color: #22142e" />
<div class="row" id="hightlightSinger">


</div>
<br />
<br />
<h2 class="text-light"><a asp-controller="Topic" asp-action="Search" style="color: white; text-decoration: none"> Chủ Đề</a></h2>
<hr style="border-color: #22142e" />
<div class="row" id="topTopic">


</div>
<br />
<br />
@section Scripts {
    <script src="~/js/home.js"></script>
    <script>



        // defaults for all charts
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.defaultFontColor = 'white';
        Chart.defaults.global.tooltips.mode = 'label';
        Chart.defaults.global.tooltips.backgroundColor = '#000';
        Chart.defaults.global.tooltips.titleColor = '#888';
        Chart.defaults.global.tooltips.bodyColor = '#888';


        var data = {
            //labels: days,
            labels: ["Feb 7", "Feb 8", "Feb 9", "Feb 10", "Feb 11", "Feb 12", "Feb 13"],
            datasets: [
                {
                    label: "Views",
                    fill: true,

                    borderWidth: 2,
                    borderColor: "#4A90E2",
                    pointBorderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(220,220,220,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    data: [65, 59, 80, 81, 56, 55, 40],
                    // data: clicks,
                },
                {
                    label: "Views",
                    fill: true,

                    borderWidth: 2,
                    borderColor: "#50E3C2",
                    pointBorderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(220,220,220,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    data: [35, 79, 50, 91, 46, 85, 70],
                    // data: clicks,
                },
                {
                    label: "Views",
                    fill: true,

                    borderWidth: 2,
                    borderColor: "#E4340D",
                    pointBorderColor: "rgba(220,220,220,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(220,220,220,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    data: [45, 29, 80, 81, 96, 75, 20],
                    // data: clicks,
                },
            ]
        };
        var ctx = $("#weekly-clicks-chart");
        var weeklyClicksChart = new Chart(ctx, {
            type: 'line',
            data: data,
            scaleFontColor: 'red',
            options: {
                scaleFontColor: 'red',
                responsive: true,
                tooltips: {
                    mode: 'single',
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        drawBorder: false,
                        ticks: {
                            fontColor: "#fff", // this here
                        },
                    }],
                    yAxes: [{
                        display: false,
                        gridLines: {
                            display: false,
                        },
                    }],
                }
            }
        });




    </script>
}