@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/musicard.css" />
<div class="row " >
    <div class="col-6 text-center">
        <div class="card" >
            <img class="card-img-top" src="~/images/icon_zing_mp3_60.png" style="height: 198px; width: 198px" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <ul>
            <li class="active">
                <div class="player my-2" onclick='GetContent("index.html")'>
                    <div class="album-art">
                        <div class="cover"></div>
                    </div>
                    <div class="description">
                        <div class="title">Thủy Thần </div>
                        <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                    </div>
                    <div class="time-indicator">
                        <i class="mdi mdi-clock"></i>
                        <span class="time">03:39</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="player my-2" onclick='GetContent("index.html")'>
                    <div class="album-art">
                        <div class="cover"></div>
                    </div>
                    <div class="description">
                        <div class="title">Thủy Thần </div>
                        <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                    </div>
                    <div class="time-indicator">
                        <i class="mdi mdi-clock"></i>
                        <span class="time">03:39</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="player my-2" onclick='GetContent("index.html")'>
                    <div class="album-art">
                        <div class="cover"></div>
                    </div>
                    <div class="description">
                        <div class="title">Thủy Thần </div>
                        <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                    </div>
                    <div class="time-indicator">
                        <i class="mdi mdi-clock"></i>
                        <span class="time">03:39</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="player my-2" onclick='GetContent("index.html")'>
                    <div class="album-art">
                        <div class="cover"></div>
                    </div>
                    <div class="description">
                        <div class="title">Thủy Thần </div>
                        <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                    </div>
                    <div class="time-indicator">
                        <i class="mdi mdi-clock"></i>
                        <span class="time">03:39</span>
                    </div>
                </div>
            </li>
        </ul>
        
    </div>
</div>