@model Song 
<input hidden asp-for="SongID"/>
<div class="container" >
    <div class="container bootstrap snippet">
        <h1 class="text-center"><span class="glyphicon glyphicon-user"></span>DETAIL</h1>
        <br /><br />
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="" style="width: 100%; height:100%">
                    <br /><br />
                    <h2>ABC</h2>
                    <h5>XYZ</h5>
                </div>
            </div>
            <div class="col-md-9 personal-info">
                <div class="row form-group">
                    
                </div>
            </div>
        </div>
    </div>
</div>