@{
    ViewData["Title"] = "Privacy Policy";
}
@model Mp3WebMusic_Web.Models.Singer.Singer
<input hidden asp-for="SingerID" id="singerid"/>
<div class="row" >

        <div class="col-4 text-center"id="singer" >
           
            
        </div>
        <div class="col-8" >
            <div id="introduce"></div>
            <div id="list"></div>
        </div>
 
</div>
@section Scripts{
    <script src="~/js/singerdetail.js" asp-append-version="true"></script>

}
