@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row" id="contentsearch">
    <div class="row my-2 ">
        <div class="col-4 ">
            <div class="card" style="background-color:#372552">
                <canvas id="weekly-clicks-chart" width="400" height="240"></canvas>
            </div>
        </div>
        <div class="col-8">
            <ul class="list-group" id="topsong" style="padding: 0">
               <li class="list-group-item">
                    <div class="player" onclick='GetContent("index.html")'>
                        <div class="album-art">
                            <div  id="cover"></div>
                        </div>
                        <div class="description">
                            <div class="title"><b>Thủy Thần </b></div>
                            <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                        </div>
                        <div class="middle2">
                            <div class="text2"><i class="fal fa-play-circle"></i></div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="player" onclick='GetContent("index.html")'>
                        <div class="album-art">
                            <div class="cover"></div>
                        </div>
                        <div class="description">
                            <div class="title"><b>Thủy Thần </b></div>
                            <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                        </div>
                        <div class="middle2">
                            <div class="text2"><i class="fal fa-play-circle"></i></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="player" onclick='GetContent("index.html")'>
                        <div class="album-art">
                            <div class="cover"></div>
                        </div>
                        <div class="description">
                            <div class="title"><b>Thủy Thần </b></div>
                            <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                        </div>
                        <div class="middle2">
                            <div class="text2"><i class="fal fa-play-circle"></i></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="player" onclick='GetContent("index.html")'>
                        <div class="album-art">
                            <div class="cover"></div>
                        </div>
                        <div class="description">
                            <div class="title"><b>Thủy Thần </b></div>
                            <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                        </div>
                        <div class="middle2">
                            <div class="text2"><i class="fal fa-play-circle"></i></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="player" onclick='GetContent("index.html")'>
                        <div class="album-art">
                            <div class="cover"></div>
                        </div>
                        <div class="description">
                            <div class="title"><b>Thủy Thần </b></div>
                            <div class="sub-title">Bùi Hoàng Nam Đức Anh</div>
                        </div>
                        <div class="middle2">
                            <div class="text2"><i class="fal fa-play-circle"></i></div>
                        </div>
                    </div>
                </li>*
            </ul>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/singerlist.js" asp-append-version="true"></script>

}
