@{
    ViewData["Title"] = "Privacy Policy";
}
@model Mp3WebMusic_Web.Models.Singer.Singer
    <link rel="stylesheet" href="~/css/resize.css" />
    <link rel="stylesheet" href="~/css/musicard.css" />
    <style>
        #list > div:hover {
            background-color: #2a1b38;
        }
    </style>
    <input hidden asp-for="SingerID" id="singerid" />
    <div class="row">

        <div class="col-4 text-center" id="singer">


        </div>
        <div class="col-8">
            <div id="introduce"></div>
          
            <div >
                <h2 class="text-light">Bài Hát: </h2>
                    <ul class="list-group"  style="list-style-type: none" id="list">

                    </ul>
            </div>
        </div>

    </div>
    @section Scripts{
        <script src="~/js/singerdetail.js" asp-append-version="true"></script>

    }
