@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="text-light">
    Nhạc Theo Chủ Đề

</h2>
<p style="color: gray">

    Bạn đang vui hay buồn, đang tiệc tùng hay trên đường đi phượt, lúc thức dậy hay đang vào giấc ngủ
</p>
<hr style="border-color: #22142e" />
<div class="row" id="contentsearch">


</div>
@section Scripts{
    <script src="~/js/topiclist.js" asp-append-version="true"></script>

}
