<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mp3WebMusic_Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <style>
        body {
            background-color: #0f011a;
        }

        .nav-link {
            color: white;
        }

        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: yellow;
        }
    </style>

    <nav class="navbar navbar-expand-md navbar-light flex-row" style="background-color:#0f011a ">
        <div class="container">
            <a class="navbar-brand text-uppercase text-light" href="#"><img src="~/images/icon_zing_mp3_60.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="autocomplete">
                    <input class="search__input" style="width: 980px" type="search" placeholder="Search" aria-label="Search" autocomplete="off" id='myInput' list="mylist">
                </div>
                @*  <datalist id='mylist'>

                    </datalist>*@
                &nbsp;
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active float-right">
                        <a class="nav-link text-light icon-btn" asp-controller="Song" asp-action="Song" style="margin-right:-5px"><i class="far fa-upload"></i></a>
                    </li>

                </ul>


            </div>

        </div>
        <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-custom" id="scrollwithpage" style="background-color:#0f011a ;    width: 100%; z-index: 1;">
        <div class="collapse navbar-collapse px-3" id="navbarContent">
            <ul class="navbar-nav mx-md-auto mx-0 w-50 align-items-start nav-fill navbar-custom">
                <li class="nav-item active">
                    <a class="nav-link  text-uppercase " asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-uppercase " href="#">Tác Giả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase "asp-controller="Topic" asp-action="Search">Chủ Đề</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase " asp-controller="Singer" asp-action="Search">Ca Sĩ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-uppercase " href="#">Thể Loại</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/003e89a4fbb1489b338d2d15a0769e6a.jpg" alt="Los Angeles" style="height: 300px; width: 100%; border-radius: 4px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/143bec4e5dd405c35ed0f231786cd8ce.jpg" alt="Chicago" style="height: 300px; width: 100%; border-radius: 4px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images/280f312336ba457e17730edd120db988.jpg" alt="New York" style="height: 300px; width: 100%; border-radius: 4px;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

    <div class="container">
        <br />
        @RenderBody()

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Mp3WebMusic_Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/FApro.js"></script>
    <script src="~/js/list.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
